/* menu start  */
.menu {
	list-style: none;
	margin: 20px 0 15px;
	padding: 25px 0 5px;
	text-align: center;
	background: rgba(87, 77, 77, 0.3);
}

.menu li {
	display: inline-block;
}

.menu li:after {
	content: "|";
	color: black;
	display: inline-block;
	vertical-align: top;
}

.menu li:last-child:after {
	content: none;
}

.menu a {
	text-decoration: none;
	font-family: 'Arial', sans-serif;
	letter-spacing: 2px;
	position: relative;
	padding-bottom: 20px;
	margin: 0 34px 0 30px;
	font-size: 17px;
	text-transform: uppercase;
	display: inline-block;
	transition: color .2s;
}

.menu a,
.menu a:visited {
	color: black;
}

.menu a.current,
.menu a:hover {
	color: rgb(83, 7, 184);
}


.menu a:hover:before,
.menu .current:before {
	left: 0;
}

.menu a:hover:after,
.menu .current:after {
	right: 0;
}

@media (max-width: 550px) {
	.menu {
			padding-top: 0;
	}

	.menu li {
			display: block;
	}

	.menu li:after {
			content: none;
	}

	.menu a {
			padding: 25px 0 20px;
			margin: 0 30px;
	}
}

.account-block:hover {
	cursor: pointer;
	background-color: rgba(87, 77, 77, 0.3);
	border-radius: 5px;
	color:rgb(83, 7, 184);
}

.top-block-cap {
	margin: 5px 25px 0 25px;
	display: flex;
	justify-content: space-between;
    align-items: center;
	flex-wrap: wrap;
}
/* menu end*/