/*style page statistics*/
.block-statistics {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 45px 0;
}

.block-statistics>p {
	margin-bottom: 40px;
	letter-spacing: 1.2px;
	font-size: 26px;
}

.table{
	border-collapse:collapse;
	border-spacing:0;
	display: inline-block;
	vertical-align: top;
	max-width: 100%;
	overflow-x: auto;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

.main-table-section td {
	background-color:rgba(71, 71, 71, 0.35);
}

.table,
.table td,
.table th {
	border: 1px solid #595959;
}

.table td,
.table th {
	padding: 3px;
	width: 30px;
	height: 35px;
}

.table th {
	background: #347c99; 
	color: #fff; 
	font-weight: normal;
}

.graph-section {
    margin-top: 50px;
}

#chart__words-for-day {
    margin-bottom: 50px;
}