.not-authorized {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100%;

    img {
        max-width: 50vw;
    }

    h1 {
        color: red;
    }
}

