body {
	margin: 0;
	background-image: url(./assets/img/126.jpg);
	/* background-color:rgb(231, 199, 148); */
	font-family: 'Arial', sans-serif;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth; 
  }

/* login style start */

.login-hidden {
	position: absolute;
	z-index: 10;
	transform: translate(-50%, -50%);
	left: 50%;
	top: -360px;
	border-radius: 5px;
	width: 300px;
	transition: 0.8s;
}

.login-visible {
	position: absolute;
	z-index: 10;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 0px !important;
	border-radius: 5px;
	width: 300px;
	transition: 0.8s;
}

#login h1 {
	color: white;
	position: relative;
	margin: 0;
	padding: 15px;
	border: 1px solid rgba(0,0,0,.3);
	border-radius: 5px 5px 0 0;
	font-size: 16px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0,0,0,.2);
	background-color: rgb(214, 169, 95);
	box-shadow: inset 0 1px rgba(255,255,255,.3); 
	background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.15));
}

#login h1:after {
	content: "";
	position: absolute;
	width: 100%;
	bottom: 2px;
	left: 0;
	border-bottom: 1px dashed rgba(0,0,0,.5);
}

#login a {
	color: #888;
	text-decoration: none;
}

#login a:hover {
	color: rgb(83, 7, 184);
}

#login p {
	margin: 0;
}


#login fieldset {
	display: block;
	margin: 0;
	padding: 20px;
	background: #fff;
	border: 2px solid rgba(0,0,0,.3);
	border-top: 0; border-radius: 0 0 5px 5px;
	box-shadow: 0 1px 2px rgb(71, 71, 71);
}

#login input {
	width: 238px;
	margin: 0;
	padding: 12px 10px;
	border: 1px solid #ccc;
	outline: none;
	font-size: 14px;
}

#login input:focus {
	background: #fafafa;
	box-shadow: inset 0 1px 7px #ddd;
}

#login input[type="email"] {
	border-radius: 3px 3px 0 0;
}

#login input[type="password"] {
	border-width: 0 1px;
	border-radius: 0;
}

#login .form-login input[type="password"] {
	border-width: 0 1px 1px 1px;
	border-radius: 0 0 3px 3px;
}

#login input[type="text"] {
	border-radius: 0 0 3px 3px;
}

#login input[type="submit"] {
	width: 260px;
	padding: 12px 20px;
	margin: 15px 0;
	border: 1px solid #C1711B;
	border-radius: 3px;
	color: #111;
	font-size: 1.3em;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(255,255,255,.5);
	cursor: pointer;
  background-color: rgb(194, 127, 18);
	box-shadow: inset 0 1px 1px rgba(138, 175, 37, 0.644); 
	background-image: linear-gradient(rgba(255,207,92,.7), rgba(223,156,38,.8));
}

#login input[type="submit"]:hover {
	background-color: #F5FF00;
}

#login input[type="submit"]:active {
	padding: 13px 20px 11px;
	text-shadow: -1px -1px 1px rgba(255,255,255,.6);
	box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
}

.button-cancel-form {
	margin-top: 15px;
	font-size: 18px;
	cursor: pointer;
}

/* flip animation */
.flip {
	position: relative;
	transition: 0.6s;
	transform-style: preserve-3d;
}

.form-login, 
.form-signup {
	position: absolute;
	top: 0;
	left: 0;
	backface-visibility: hidden;
}

.form-signup {
	z-index: 2;
}

.form-login {
	transform: rotateY(180deg);
}

.flipped {
	transform: rotateY(-180deg);
}

#login input.login-err,
#login input.login-err:focus {
	color: #C4550B;
	background-color: #FFEDD7;
	border-color: #EB975F;
}

#login input.login-err::input-placeholder {
	color: #C4550B;
}

#login input.login-ok,
#login input.login-ok:focus {
	color: #4E831F;
	background-color: #EBFDDC;
	border-color: #9FCC41;
}

#login input.login-ok::input-placeholder {
	color: #4E831F;
}

#login p.login-msg {
	display: none;
	margin: 0 0 5px;
	font-size: 13px;
	font-weight: bold;
	color: #C4550B;
}

/* login style end */


.account-block:hover {
	cursor: pointer;
	background-color: rgba(87, 77, 77, 0.3);
	border-radius: 5px;
	color:rgb(83, 7, 184);
}

.top-block-cap {
	margin: 5px 25px 0 25px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

/* menu start  */
.menu {
	list-style: none;
	margin: 20px 0 15px;
	padding: 25px 0 5px;
	text-align: center;
	background: rgba(87, 77, 77, 0.3);
}

.menu li {
	display: inline-block;
}

.menu li:after {
	content: "|";
	color: black;
	display: inline-block;
	vertical-align: top;
}

.menu li:last-child:after {
	content: none;
}

.menu a {
	text-decoration: none;
	font-family: 'Arial', sans-serif;
	letter-spacing: 2px;
	position: relative;
	padding-bottom: 20px;
	margin: 0 34px 0 30px;
	font-size: 17px;
	text-transform: uppercase;
	display: inline-block;
	transition: color .2s;
}

.menu a,
.menu a:visited {
	color: black;
}

.menu a.current,
.menu a:hover {
	color: rgb(83, 7, 184);
}


.menu a:hover:before,
.menu .current:before {
	left: 0;
}

.menu a:hover:after,
.menu .current:after {
	right: 0;
}

@media (max-width: 550px) {
	.menu {
			padding-top: 0;
	}

	.menu li {
			display: block;
	}

	.menu li:after {
			content: none;
	}

	.menu a {
			padding: 25px 0 20px;
			margin: 0 30px;
	}
}
/* menu end*/

.section-description {
	margin-top: 55px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.section-description p {
	width: 350px;
	letter-spacing: 1.7px;
}

.description-span-1 {
	font-size: 30px;
}

.description-span-2 {
	font-size: 20px;
	margin-top: 10px;
	display: block;
}

.BoyBooks-image {
	width: 200px;
	margin-top: 5px;
}

.section-benefits {
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.text-section-benefits {
	letter-spacing: 1.2px;
	font-size: 30px;
	margin-bottom: 20px;
}

.wrapper-benefits-items {
	margin-top: 40px;
	display: flex;
	justify-content: center;
	column-gap: 40px;
	row-gap: 40px;
	flex-wrap: wrap;
	text-align: center;
}

.benefits-item {
	width: 250px;
	display: flex;
	flex-direction: column;
	align-items:center;
}

.benefits-item p {
	letter-spacing: 1px;
}

.section-team {
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wrapper-team-items {
	margin-top: 40px;
	display: flex;
	justify-content: center;
	column-gap: 60px;
	row-gap: 50px;
	flex-wrap: wrap;
	text-align: center;
}

.name-section-team {
	letter-spacing: 1.2px;
	font-size: 30px;
}

.team-item {
	width: 250px;
}

.team-item img {
	border-radius: 70px;
}

.block-link-team-item {
	margin-top: 10px;
}

.block-link-team-item a {
	text-decoration: none;
	font-size: 18px;
	color:rgb(83, 7, 184);
}

.team-item p {
	letter-spacing: 1px;
}

footer {
	background-color: rgba(87, 77, 77, 0.45);
	margin-top: 80px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	column-gap:20px;
	row-gap: 20px;
	font-size: 20px;
	padding: 25px 20px 20px 20px;
}

.rs-logo {
	width: 70px;
}

.footer-link-gh {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 20px;
	row-gap: 20px;
}

.footer-link-gh a {
	text-decoration: none;
	display: block;
	color:rgb(83, 7, 184);
}

@media (max-width: 550px) {
	footer {
		justify-content: center;
	}
}

/*style page statistics*/
.block-statistics {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 45px;
}

.block-statistics>p {
	letter-spacing: 1.2px;
	font-size: 30px;
}

.table{
	border-collapse:collapse;
	border-spacing:0;
	display: inline-block;
	vertical-align: top;
	max-width: 100%;
	overflow-x: auto;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

.main-table-section td {
	background-color:rgba(71, 71, 71, 0.35);
}

.table,
.table td,
.table th {
	border: 1px solid #595959;
}

.table td,
.table th {
	padding: 3px;
	width: 30px;
	height: 35px;
}

.table th {
	background: #347c99; 
	color: #fff; 
	font-weight: normal;
}

