* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
  
html {
	scroll-behavior: smooth;
	height: 100%;
}
  
body {
	margin: 0;
	font-family: 'Arial', sans-serif;
	height: 100%;
	display: flex;
	flex-flow: column;
}
  
.mutable-content-wrapper {
	flex: 1 1 auto;
}

button {
	cursor: pointer;
}
  