body {
	margin: 0;
	background-image: url(./assets/img/background.jpg);
	/* background-color:rgb(231, 199, 148); */
	font-family: 'Arial', sans-serif;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth; 
}
